<ng-container *ngIf="isUserAuthenticated$ | async; else notAuthenticated">
  <button *ngIf="user$ | async as user" mat-button [routerLink]='["/authentication/profile"]' title="Profile" [routerLinkActive]="['link-active']">Hello {{ user.firstName }}</button>
  <button mat-button [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Logout" [routerLinkActive]="['link-active']">Logout</button>
</ng-container>

<ng-template #notAuthenticated>
  <button mat-button [routerLink]='["/authentication/register"]' [routerLinkActive]="['link-active']">Register</button>
  <button mat-button [routerLink]='["/authentication/login"]' [state]='{ local: true }' [queryParams]="{returnUrl: returnUrl}" [routerLinkActive]="['link-active']">Login</button>
</ng-template>

<button (click)="onClick()">Sync</button>
