<h2>Register</h2>

<!--Reactive form approach-->

<form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="Your real email address" type="email" formControlName="email" required>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

    @if (email?.hasError('required')) {
      <mat-error>Email address is required</mat-error>
    }
    @if (email?.hasError('email')) {
      <mat-error>Email address is invalid</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email confirmation</mat-label>
    <input matInput placeholder="Enter again for confirmation" type="email" formControlName="emailConfirmation" required>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

    @if (emailConfirmation?.hasError('required')) {
      <mat-error>Email address is required</mat-error>
    }
    @if (emailConfirmation?.hasError('email')) {
      <mat-error>Email address is invalid</mat-error>
    }
    @if (!emailConfirmation?.hasError('required') && (email?.value !== emailConfirmation?.value)) {
      {{registerForm.get('emailConfirmation')?.setErrors({'incorrect': true})}}
    }
    @if (!emailConfirmation?.hasError('required') && (email?.value !== emailConfirmation?.value)) {
      <mat-error>Email address is not identical</mat-error>
    }
  </mat-form-field>

  <mat-form-field hintLabel="Min. 6 chars: 1 uppercase, 1 lowercase, 1 digit, 1 non-alphanumeric char">
    <mat-label>Password</mat-label>
    <input matInput #pass type="password" formControlName="password" required>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint align="end">{{ pass.value.length }}/6</mat-hint>

    @if (password?.hasError('pattern')) {
      <mat-error>Password needs 1 special character</mat-error>
    }
    @if (password?.hasError('required')) {
      <mat-error>Password is required</mat-error>
    }
  </mat-form-field>

  <button mat-raised-button type="submit" color="primary" [disabled]="!registerForm.valid">Submit</button>
</form>
