<header>
  <nav>
    <div class="menu">
      <a [routerLink]="['/']">GroupFinder.AngularApp</a>

      <button mat-button [routerLink]="['/']" [routerLinkActive]="['link-active']">Home</button>

      <button mat-button [matMenuTriggerFor]="gamesMenu">Games</button>
      <mat-menu #gamesMenu="matMenu">
        <button mat-menu-item [routerLink]="['/games']" [routerLinkActive]="['link-active']">Overview</button>
        <button mat-menu-item [routerLink]="['/games']" [routerLinkActive]="['link-active']">More games</button>
      </mat-menu>

      <button mat-button [routerLink]="['/about']" [routerLinkActive]="['link-active']">About</button>

      <app-login-menu></app-login-menu>
    </div>
  </nav>
</header>
