<p>{{ message | async }}</p>

<div *ngIf="!invalidLogin" class="container">
  <h2>Login</h2>
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" id="email" required minlength="6"
             placeholder="Email..."
             [(ngModel)]="credentials.email" name="emailInput" #email="ngModel"> <!--#myVar="ngModel" = local template variable-->

      <div *ngIf="email.invalid && (email.dirty || email.touched)"
           class="alert">

        <div *ngIf="email.errors?.['required']">
          Email is required.
        </div>
        <div *ngIf="email.errors?.['minlength']">
          Email must be at least 4 characters long.
        </div>

      </div>

      <mat-icon matSuffix>badge</mat-icon>
      <mat-hint>It's your email'</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" id="password" required
             placeholder="Password..."
             [(ngModel)]="credentials.password" name="passwordInput" #password="ngModel">

      <div *ngIf="password.invalid && (password.dirty || password.touched)"
           class="alert">

        <div *ngIf="password.errors?.['required']">
          Password is required.
        </div>
        <div *ngIf="password.errors?.['minlength']">
          Password must be at least 4 characters long.
        </div>

      </div>

      <mat-icon matSuffix>key</mat-icon>
      <mat-hint>Min. 8 chars</mat-hint>
    </mat-form-field>

    <button matt-button type="submit" [disabled]="!loginForm.form.valid">Submit</button>
  </form>
</div>
